<!DOCTYPE HTML>
<html lang="en">

<head>

    {%- include head.html -%}

    {% if page.previous %}
    <link rel="prev" href="{{site.baseurl}}{{page.previous.url}}" />
    {% else %}
    <link rel="prev" href="{{site.baseurl}}/" />
    {% endif %}

    {% if page.next %}
    <link rel="next" href="{{site.baseurl}}{{page.next.url}}" />
    {% endif %}
</head>

<body>
    <div class="book">

        {%- include toc-date.html -%}

        <div class="book-body">
            <div class="book-header" role="navigation">
                <!-- Title -->
                <h1>
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                    {% if page.title %}
                    <a href=".">{{ page.title | escape }}</a>
                    {% else %}
                    <a href=".">{{ site.title | escape }}</a>
                    {% endif %}
                </h1>
            </div>

            <div class="body-inner">
                {%- include body.html -%}

                {% assign sorted_docs = site.docs | sort: 'order' %}
                {% for doc in sorted_docs %}
                {% if doc.url == page.url %}
                {% assign index = forloop.index0 %}
                {% assign prev = sorted_docs[index | minus: 1] %}
                {% assign next = sorted_docs[index | plus: 1] %}
                {% endif %}
                {% endfor %}

                {% if prev %}
                <a href="{{ prev.url | relative_url }}" class="navigation navigation-prev navigation-unique"
                    aria-label="Previous page: {{ prev.title }}">
                    <i class="fa fa-angle-left"></i>
                </a>
                {% else %}
                <a href="{{ site.baseurl }}/" class="navigation navigation-prev navigation-unique"
                    aria-label="Previous page: {{ site.title }}">
                    <i class="fa fa-angle-left"></i>
                </a>
                {% endif %}

                {% if next %}
                <a href="{{ next.url | relative_url }}" class="navigation navigation-next navigation-unique"
                    aria-label="Next page: {{ next.title }}">
                    <i class="fa fa-angle-right"></i>
                </a>
                {% endif %}

            </div>
        </div>

        <script>
            var gitbook = gitbook || [];
            gitbook.push(function () {
                gitbook.page.hasChanged({% - include metadata - post.json.tpl -%});
            });
        </script>
    </div>

    {%- include footer.html -%}

</body>

</html>